project                        = "PROJECT_NAME"
owner                          = "REPLACE_ME"
aws_region                     = "REPLACE_ME"
aws_profile                    = "REPLACE_ME"
project_domain                 = "REPLACE_ME"
tm_iam_prefix                  = "tm/PROJECT_NAME"
secret_prefix                  = "tm-vault"
vault_installer_namespace      = "tm-system"
vault_installer_serviceaccount = "vault-installer"
kafka_mode                     = "sasl-scram"
postgres_version               = "16.9"
kubernetes_version             = "1.35"
